body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.flex-container{
    display:flex;
}
.top-banner{
    padding-top: 50px;
    padding-left:15%;
    padding-right: 2%;
    margin-bottom: 50px;
}
.orange-color{
    color: orange;
}
.haf-width{
    width: 50%;
}
.banner-content{
    padding-top: 160px;
    padding-right: 50px;
}
.half-width img{
    width: 90%;
}
.top-banner h1{
    font-size: 50px; 
    margin: 2px;   
}

.top-banner p{
    color: gray;
    font-size: 20px;
    margin-bottom: 40px;
}

.link-button{
    background-image: linear-gradient(90deg, #FBA24F, #FF1E1E);
    padding: 15px 30px;
    border-radius: 30px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    box-shadow: 2px 2px 10px #FBA24F;
}

.about-me{
    padding-left: 15%;
    padding-right: 2%;
    padding-top: 50px;
    margin-bottom: 100px;
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-position:left;
    background-size: 100%;
}
.about-me .half-width{
  width: 50%;
}
#about-me-img{
    width: 50%;
    height: 100%;
}
.about-me-content{
    padding-top: 50px;
}
.about-me-content h1{
   font-size: 50px;
   margin-bottom: 30px;
   color: #707070;
}

.about-me-content p{
    font-size: 22px;
    margin-bottom: 60px;
    color: #18191F;
}
.heading{
    text-align:center;
}

.heading h1{
    font-size: 50px;
    text-align: center;
    font-weight: 700; 
    font-family: 'Poppins', sans-serif;
    margin-bottom: 2px;
}
.heading p{
    font-size: 20px;
    text-align: center;
    font-weight: 400; 
    font-family: 'Poppins', sans-serif;
}
.my-recipies{
   padding-left: 5%;
   padding-right: 5%;
   margin-bottom: 60px;
}
.three-row-content{
   width: 30%;
   margin-left: 2%;
   margin-right: 2%;
   background-color: white;
   box-shadow: 10px 10px 45px rgb(201, 196, 196);
   border-radius: 20px;
}
.three-row-content img{
    width: 80%;
    border-radius: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    margin-bottom: 5px;
    height: 230px;
    box-shadow: 3px 3px 15px rgb(241, 238, 238);
}
.three-row-content h2{
    font-size: 25px;
    font-weight: 800;
    margin-left: 35px;
    padding: 5px;
    font-family: 'Poppins', sans-serif;
}
.three-row-content p{
    font-size: 17px;
    margin-left: 35px;
    padding: 5px;
    color: #18191F;
    font-family: 'Poppins', sans-serif;
}

.social-media-accievement{
    width: 77%;
    margin: 0 auto 60px auto;
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    box-shadow: 10px 10px 45px rgb(192, 189, 189);
    margin-bottom: 69px;
    border-radius: 20px;
}
.social-item{
    width: 30%;
    padding: 30px 90px;
}
.social-item h1{
    font-size: 50px;
    margin-bottom: 1px;
}
.social-item p{
    font-size: 18px;
}

footer{
    background-color: rgb(4, 2, 22);
    color: white;
    text-align: center;
    padding: 30px 0px 120px 0px;
}
.gray-color{
    color: #707070;
}
